<div class="review" data-rating="{{rating}}" data-user="{{username}}" data-date="{{year}}">
    <div class="review-header">
        <img class="user-icon" src="{{url}}">
        <span class="text">Posted By: <span class="user">{{username}}</span></span>
        <div class="paws">
            <span class="checked-text">{{rating}}</span>
            <span class="slash">/</span>
            <span class="possible">5</span>
            <span class="fas fa-paw">'s</span>
        </div>
        <span class="date">{{year}}</span>
    </div>
    <p class="review-body">
        {{text}}
    </p>
</div>